/* CSS - Cascading StyleSheet*/

:root { /*variáveis com cores (extenso, hsl, rgb, hexadecimal) já definidas*/
    --color-background: #F0F0F7;
    --color-primary: #ff9900;
    --color-primary-lighter: #ffa639;
    --color-primary-darker: #ff8c00;
    --color-secondary: #6842c2;
    --color-secondary-lighter: #9c98ac;
    --color-secondary-darker: #32264D;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #FFFFFF;
    --color-text-title: #32264D;
    --color-text-complement: #9c98a6;
    --color-text-base: #9c98ac;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #ffffff;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;

    /*tamanho da fonte (px (padrão), % , rem)*/
    /*rem - root element, referência ao root definido acima
    em - element, referência entre pai e filho*/
    font-size: 60%; /* controle das medidas para rem definida no root*/
}

body {
    background: var(--color-background);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover {
    margin: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100px; /*width (px) é fixo*/
    height: 200px; /*height (px) é fixo*/
}

html, body {
    height: 70vh;
}

body, input, textarea {
    /* font: 500 1.6rem Poppins; é possível agrupar as caracterísicas em uma linha*/
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.5rem;
    color: var(--color-text-base);
}

button {
    font: 500 2.0rem Poppins;
    color: var(--color-text-title);
}

#cover {
    width: 90vw;
    max-width: 700px;
    /* height: 200vh; */
    /* max-height: 100px; */
}

@media (min-width: 700px) {
    :root {
        font-size: 62.5%; /*todo 1rem passa a ser relativo a 10px */
    }
}






